body {
	background-color: #66d4f4;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Raleway', sans-serif;
	/*font-family: 'Roboto Slab', serif;*/

	margin: 0;
	padding: 0;
}

a,a:hover,a:visited,a:active,a:link{
	text-decoration: none;
	color: #222;
}

form {
	padding: 0;
	margin: 0;
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 0;

	position: absolute;
	left: 50px;
	top: 50px;
}

.logo--image {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 43px;
	width: 43px;

	margin-right: 13px;

	background-color: #168ae3;
	border-radius: 50%;
}

.logo--image div{
	font-size: 1.4rem;
	color: #fff;
	font-weight: bold;
}

.logo--text {
	color: #fff;
	font-size: 1.45rem;
	font-weight: bold;
}

.button--parent {
	display: flex;
	align-items: center;

	border-radius: 10px;
}

.button--parent:hover {
	transform: scale(1.1);
	transition: transform 0.2s;

	cursor: pointer;
}

.button {
	width: 100%;

	background-color: transparent;
	border: 0;

	padding: 10px 20px;
}

.button:hover {
	cursor: pointer;
}

.registration {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #fff;

	padding: 100px 50px;
	border-radius: 50px;

	margin-top: 120px;
	margin-bottom: 70px;
}

.registration input {
	margin-bottom: 27px;
}

.registration input,.registration button{
	width: 370px;
	height: 76px;

	background-color: #f5fafa;

	border: 1px solid transparent;
	border-radius: 40px;
	outline: 0;

	text-align: center;
}

.registration input:hover {
	border: 1px solid #f1efef;
  	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 8px 16px 0px rgba(92, 149, 161, 0.07);
}

.registration button {
	background-color: #66d4f4;
	color: #fff;
	font-size: 0.7rem;
	font-weight: bold;
	text-transform: uppercase;

	box-shadow: 0px 10px 16px 0px rgba(102, 212, 244, 0.3);
}

::-webkit-input-placeholder {
	color: #bbbfbf;
	font-weight: bold;
}

::-moz-placeholder {
	color: #bbbfbf;
	font-weight: bold;
}

:-moz-placeholder {
	color: #bbbfbf;
	font-weight: bold;
}

:-ms-input-placeholder {
	color: #bbbfbf;
	font-weight: bold;
}

@media (max-width: 800px) {
	.registration {
		max-width: 70%;
		padding: 60px 30px;
	}

	.registration input,.registration button {
		width: 220px;
	}
}

@media (max-width: 500px) {
	.registration {
		width: 100%;
		padding: 40px 30px;

		border-radius: 0;
	}

	.registration input,.registration button {
		width: 190px;
		height: 40px;
	}
}